.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 12px;
	box-sizing: border-box;
}

/* The hero image you can see on the about and series pages */
.hero-picture {
	width: 100%;
	height: auto;

	img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

/* Table styles */
table {
	width: 100%;
	border-collapse: collapse;
	font: 16px Arial, sans-serif;
}

th,
td {
	text-align: left;
	padding: 8px;
	border: none;
}

tr:not(:last-child) td {
	border-bottom: 1px solid #ccc;
}

th {
	font-size: 1.2em;
	padding: 16px 8px 8px;
}

.pt-10 {
	padding-top: 40px;
}

.pb-10 {
	padding-bottom: 40px;
}

.mt-40 {
	margin-top: 160px;
}

.text-sm {
	font-size: 14px;
}

.text-xs {
	font-size: 10px;
}

.text-bold {
	font-weight: 700;
}

.text-gray-100 {
	color: oklch(98.5% 0.002 247.839);
}

.text-gray-200 {
	color: oklch(96.7% 0.003 264.542);
}

.text-gray-300 {
	color: oklch(92.8% 0.006 264.531);
}

.text-gray-400 {
	color: oklch(87.2% 0.01 258.338);
}

.text-gray-500 {
	color: oklch(70.7% 0.022 261.325);
}

.text-gray-600 {
	color: oklch(55.1% 0.027 264.364);
}

.text-gray-700 {
	color: oklch(44.6% 0.03 256.802);
}

.text-gray-800 {
	color: oklch(37.3% 0.034 259.733);
}

.text-gray-900 {
	color: oklch(27.8% 0.033 256.848);
}

.grid-item.grid-table td {
	line-height: 1.8;
}

.grid-item.grid-table ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

