.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 12px;
	box-sizing: border-box;
}

table {
	width: 100%;
	border-collapse: collapse;
	font: 16px Arial, sans-serif;
}

th,
td {
	text-align: left;
	padding: 8px;
	border: none;
}

tr:not(:last-child) td {
	border-bottom: 1px solid #ccc;
}

th {
	font-size: 1.2em;
	padding: 16px 8px 8px;
}

.filmography {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-content: flex-start;
}

@media #{$sm} {
	.filmography .item img {
		max-width: 150px;
	}
}
