/* Styles for the directors grid */
.directors {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;

	@media #{$md} {
		grid-template-columns: repeat(3, 1fr);
	}
}

.directors-grid-item {
	width: 100%; // ocupa toda a célula do grid
}

.directors-grid-item img {
	width: 100%;
	height: auto;
	display: block;
}