header {
	margin-bottom: 1rem;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		a.logo {
			font-size: rem(24);
			font-weight: 800;
			text-transform: uppercase;
			color: var(--color-brand);
			display: none;

			@media #{$sm} {
				display: inline;
			}
		}

		a.logo-small {
			display: inline;

			@media #{$sm} {
				display: none;
			}
		}

		.hamburger {
			font-size: 2rem;
			background: none;
			border: none;
			color: var(--color-foreground);
			cursor: pointer;
			z-index: 11;

			@media #{$sm} {
				display: none;
			}
		}

		.menu {
			display: none;
			gap: 12px;
			font-size: 12px;
			font-weight: 800;
			letter-spacing: 0.1rem;
			text-transform: uppercase;

			@media #{$sm} {
				display: flex;
			}

			a {
				position: relative;
				color: var(--color-foreground-muted); // <-- Aqui defines a cor do texto
				text-decoration: none;
				transition: all 0.3s ease-in-out;

				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -2px;
					width: 0;
					height: 2px;
					background-color: var(--color-foreground-muted); // <-- Cor da linha ao passar o rato
					transition: width 0.3s ease-in-out;
				}

				&:hover::after {
					width: 100%;
				}
			}
		}

		.menu.open {
			background: var(--color-background);
			height: 100vh;
			padding-top: 60px;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			z-index: 10;
		}
	}
}