:root {
	--color-brand: #003b73;
	--color-brand-secondary: #0075bb;
	--color-brand-tertiary: #012a3a;
	--color-background: #f9f9f9;
	--color-foreground: #333;
	--color-foreground-muted: #505050;
	--border-radius: 8px;
	--transition-duration: 0.3s;
}

html {
	font-size: $html-font-size;
	min-height: 100vh;
}

body {
	margin: 0;
	font-family: Helvetica;
	background-color: var(--color-background);
	color: var(--color-foreground);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items:stretch;
	justify-content: space-between;
}

a:link,
a:visited,
a:hover,
a:active {
	color: black;
	text-decoration: none;
}
